<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uit.quocthao.english4kids">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_actionbar"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".features.study.FeaturesStudy_" />
        <activity android:name=".features.study.ContentStudy_" />
        <activity android:name=".features.like.FeaturesLike_" />
        <activity android:name=".features.story.FeaturesStory_" />
        <activity android:name=".features.check.FeaturesCheck_" />
        <activity android:name=".features.check.ContentListen_" />
        <activity android:name=".features.check.ContentRead_" />
        <activity android:name=".features.check.ContentWrite_" />
    </application>

</manifest>